html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
dd, dl, dt, li, ol, ul, fieldset, form, label, legend, caption, 
table, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0 none;
	background-position:0 0;
	background-repeat:no-repeat;
	background-color:transparent
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align:middle
}
input {margin:0;padding:0;border:0}
select,textarea {margin:1px;padding:3px}
ol, ul {list-style:none}
li, dd {margin-bottom:0}
p {margin:0 0 10px 0}

table {border-collapse:collapse;border-spacing:0}

body {background:#fff}

h1,h2,h3,h4,h5 {font-weight:normal;line-height:normal}
h1 {font-size:2em}
h2 {font-size:1.5em}
h3 {font-size:1.17em}
h4 {font-size:1em}
h5 {font-size:0.83em}
h6 {font-size:0.67em}

body,td,textarea,input,select {
	font:11px Tahoma, Arial, sans-serif;
	color:#000;
	line-height:1.4em
}

a {color:#000;text-decoration:none}
a:hover {text-decoration:none !important}

/*__________ Reset #END __________*/

/*____________ Helpers____________*/

.clear {clear:both}
.no-bg {background:none !important}
.fl-l {float:left}
.fl-r {float:right}
.margin-no {margin:0 !important}

/*__________ General __________*/

#wrapper {padding:100px 0;width:900px;margin:0 auto}