﻿/* interface */
.query-filter .extend, .query-filter .group {margin:5px 0;padding:5px;position:relative;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.query-filter .group .group-body {margin:0;padding:0 0 0 15px}
.query-filter:not(.empty) .group-body > *::after, .query-filter:not(.empty) .group-body > *::before {border-color:#ccc;border-style:solid;content:"";height:58%;left:-10px;position:absolute;width:10px}
.query-filter:not(.empty) .group-body > *::before {border-width:0 0 2px 2px;top:-4px}
.query-filter:not(.empty) .group-body > *::after {border-width:0 0 0 2px;top:50%}
.query-filter:not(.empty) .group-body > *:first-child::before {height:calc(50% + 14px);top:-12px}
.query-filter:not(.empty) .group-body > *:last-child::before {border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;-webkit-border-radius:0 0 0 4px}
.query-filter:not(.empty) .group-body > *:last-child::after {display:none}

/* interface elemets */
.query-filter {clear:both}
.query-filter .btn {outline:none !important}
.query-filter .group {position:relative}
.group-hover {background:#fff2ad !important}
.query-filter .group, .query-filter .extend {padding:10px;border:1px solid #dcc896;background:#fcf8e3;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.query-filter .group-header {margin:0 0 10px 0;overflow:hidden}
.query-filter .extend {padding-bottom:5px;padding-right:35px;background:#fff}
.query-filter .extend .point, .query-filter .extend .separator  {float:left;margin:8px 15px 0 0}
.query-filter .extend .form-control  {max-width:150px;display:inlie-block;float:left;width:auto;margin:0 15px 0 0}
.query-filter .extend textarea.form-control  {height:34px}
.query-filter .extend .extend-filter, .query-filter .extend .extend-operator, .query-filter .extend .extend-value {display:inline-block;margin:0 5px 0 0}
.query-filter .extend .extend-filter .checkbox {float:left;margin:6px 0 0 0}
.query-filter .extend > .btn.btn-danger.pull-right {position:absolute;right:4px;top:10px}
.query-filter .input-group {width:120px;float:left;margin:0 15px 0 0}
.query-filter .input-group input[type=text] {width:100px;margin:0}
.query-filter .value-wrap {float:left;position:relative}
.query-filter .value-wrap .val-err {position:absolute;right:0;top:9px;z-index:100}

/* bootstrap-select */
.query-filter .bootstrap-select {float:left !important;width:150px !important}
.query-filter .bootstrap-select.btn-group .btn .filter-option {display:block;text-overflow:ellipsis}
.query-filter .bs-searchbox input {margin:0 0 10px 0 !important}
.query-filter .bootstrap-select.btn-group .dropdown-menu li a span.text {white-space: normal}

/* textExt plgugin */
.query-filter .value-wrap .textext {min-height:34px;height:auto;line-height:16px}
.query-filter .text-core {float:left;margin:0 15px 0 0}
.query-filter .text-core .form-control {min-width:200px}
.query-filter .text-wrap {position:relative}
.query-filter .text-tags {padding:8px 6px 9px 6px;cursor:text}
.query-filter .text-tag  {margin:0 6px 6px 0;cursor:default}
.query-filter .text-arrow  {height:100% !important}
.query-filter .text-tag:last-child  {margin-bottom:2px}
.query-filter .text-core .text-wrap .text-tags {position: absolute}
.query-filter .text-core .text-wrap .text-tags.text-tags-on-top {z-index: 2}
.query-filter .text-core .text-wrap .text-tags .text-tag {float: left}
.query-filter .text-core .text-wrap .text-tags .text-tag .text-button {position:relative;float:left}
.query-filter .text-remove {font-size:10px;margin:0 0 0 4px;cursor:pointer}
.query-filter .text-remove:hover {opacity:0.8}
.query-filter .text-core .text-wrap .text-arrow {z-index:3}

.query-filter .text-core .text-wrap .text-dropdown {padding: 0;position: absolute; z-index: 3;background: #fff; border: 1px solid #9daccc;width: 100%;max-height: 100px;padding: 1px;font-size: 12px;display: none; overflow-x: hidden;overflow-y: auto}
.query-filter .text-core .text-wrap .text-dropdown.text-position-below {margin-top:1px}
.query-filter .text-core .text-wrap .text-dropdown.text-position-above {margin-bottom:1px}
.query-filter .text-core .text-wrap .text-dropdown .text-list .text-suggestion {padding:3px 5px;cursor:pointer}
.query-filter .text-core .text-wrap .text-dropdown .text-list .text-suggestion em {font-style:normal;text-decoration:underline}
.query-filter .text-core .text-wrap .text-dropdown .text-list .text-suggestion.text-selected {color:#fff;background: #6d84b4}

.ui-datepicker {z-index:100 !important}